name: Prepare bundles
on:
  push
env:
  DEST_REPO: michaltc/workspace-microapps-bundles
  DEST_REPO_DIR: ../workspace-microapps-bundles
  BUNDLES_DIR: bundles
jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout source repository
        uses: actions/checkout@v1

      - name: Checkout destination repository
        uses: actions/checkout@v1
        with:
          repository: ${{ env.DEST_REPO }}
          ref: master

      - name: Checkout destination branch
        run: |
          set -x
          cd $DEST_REPO_DIR
          git checkout "${GITHUB_REF:11}" || git checkout -b "${GITHUB_REF:11}"

      - name: Maven modules cache
        uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build bundlegen
        run: mvn --batch-mode clean package

      - name: Execute bundlegen
        run: |
          set -x
          rm -rf "$DEST_REPO_DIR/$BUNDLES_DIR/"

          main_class="com.citrix.microapps.bundlegen.BundlegenMain"
          link_bundles="https://github.com/$DEST_REPO/blob/${GITHUB_REF:11}/$BUNDLES_DIR/"
          args="$BUNDLES_DIR $DEST_REPO_DIR/$BUNDLES_DIR/ $link_bundles"

          mvn --batch-mode exec:java -pl bundlegen -Dexec.mainClass="$main_class" -Dexec.args="$args"

      - name: Commit and push generated files
        run: |
          set -x
          cd $DEST_REPO_DIR
          git add .

          if ! git diff --staged --exit-code
          then
            git config user.name "Bundlegen bot"
            git config user.email "bundlegen.bot@github.com"
            git remote set-url origin "git@github.com:$DEST_REPO.git"

            branch_link="https://github.com/$GITHUB_REPOSITORY/tree/${GITHUB_REF:11}"
            commit_link="https://github.com/$GITHUB_REPOSITORY/commit/$GITHUB_SHA"
            message=$(printf "Bundles generated by GitHub action\n\n- $branch_link\n- $commit_link")
            git commit -a -m "$message"

            set +x
            mkdir -p "$HOME/.ssh/"
            echo "${{ secrets.DEST_REPO_SSH_KEY }}" > "$HOME/.ssh/id_rsa"
            chmod 600 "$HOME/.ssh/id_rsa"
            set -x

            ssh-keyscan -H -t rsa github.com >> ~/.ssh/known_hosts
            git push --set-upstream origin "${GITHUB_REF:11}"
            rm "$HOME/.ssh/id_rsa"
          else
            echo "Working tree clean. Nothing to commit."
          fi
